@media(max-width: 1200px)
  .container
    max-width: 960px
  .slider 
    width: 590px
  .hotel
    &-slide
      &__img
        width: 100%
        height: 100%
        object-fit: cover
  .card 
    width: 230px
    height: 230px
@media(max-width: 992px)
  .container, 
  .newsletter-wrapper
    max-width: 700px    
  .header
    margin-top: -1px
  .logo
    width: 132px
  .navbar
    &-top 
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      margin-right: 73px //new
    &-menu
      padding: 22px 15px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    // margin-left: 45px //no changes off
    &__input
      width: 340px
  .hotel 
    margin-bottom: -10px
    padding-top: 13px
    &-info 
      &__rating 
    &-grid 
      flex-direction: column
    &__slider 
      margin-bottom: 27px
    &-right 
      flex-direction: row
    &-slider
    width: 100%
  .booking 
    width: 340px
    height: 210px
    padding-top: 27px
    padding-left: 23px
    padding-right: 22px
  .map 
    width: 340px
    height: 213px
  // .slider
  //   width: 100% //off no changes
  .logo__image 
    width: 133px
  .reviews
    &-slider
      &__item
        max-width: 580px
        &::after, &::before
          display: none
      &__button
        transform: translateY(-50%)
        &--prev
          left: 0
          margin-left: 0
          margin-top: 14px
        &--next
          right: 0
          margin-right: 0
          margin-top: 14px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .newsletter 
    &-title 
      margin-top: 21px
    &__subscribe 
      margin-top: 1px
  .activities
    padding-top: 30px
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
      row-gap: 20px
    .card
      width: 340px
      height: 255px
      &__title
        &--last
          width: 200px

@media(max-width: 767px)
  .body 
    max-width: 100%
    overflow-x: hidden
  .container    
    width: 92% 
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu 
    &-button    
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .slider
    height: 350px
  .hotel 
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .stars
    flex-basis: auto
  .slider 
    height: 305px
  .hotel
    &-right
      // height: 450px
      flex-direction: column
  .booking
    width: 100%
    height: 216px
  .map 
    width: 100%
    height: 213px
    margin-top: 30px
  .newsletter
    &-wrapper
      flex-direction: column
      width: 92%
      align-items: flex-start
      flex-direction: row  
    &__subscribe 
      margin-top: 30px  
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -90px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -90px
          transform: translate(50%, 0)
  .card
    width: 48%
    height: 255px

@media( max-width: 480px )
  .body 
    max-width: 100%
    overflow-x: hidden
  .container
    max-width: 87.5%
  .logo 
    width: 99px
  .logo__image 
    width: 99px
  .stars
    margin-right: 16px
  .navbar-top
    padding: 23px 0 28px
  .hotel 
    padding-top: 5px
    &__slider
      height: 179px
      object-fit: cover
  .hotel-grid 
    padding-top: 16px
  .swiper-slider
    &__image 
      width: 100%
      border-radius: 8px
  .booking 
    margin-top: -10px
    height: 210px
  .map 
    height: 173px
    margin-top: 20px
  .newsletter
    margin-top: -23px
    padding: 52px 0 71px 0
    height: 320px
    &-wrapper 
      flex-wrap: wrap
    &__subscribe
      margin-top: 0px
    &-title
      width: 250px
      font-style: light
      margin-bottom: 40px
      font-family: Mulish
      font-size: 20px
      line-height: 28px
      margin-top: 24px
      padding-left: 7px
      &__strong 
        font-family: Mulish
        font-style: SemiBold
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
    margin-left: 7px
    &__button
      margin-right: 8px
      border-bottom-right-radius: 5px
      border-top-right-radius: 5px
    &__input
      padding-left: 20px
      width: 276px
      height: 55px
  .reviews
    padding-top: 33px
    &__title
      width: 250px
      margin-top: 7px
      margin-right: auto
      margin-left: auto
      margin-bottom: 40px
      font-family: Mulish
      font-style: Bold
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        max-height: 438px
      &__text
        text-align: left 
      &__username
        margin-top: 0 
        padding-left: 0
      &__avatar 
        margin-bottom: 11px
      &__rating 
        padding-left: 0
      &__date 
        padding-left: 0
      &__button 
        &--prev
          margin-top: 0px
        &--next
          margin-top: 0px
  .swiper-slide
    height: 483px
  .card 
    width: 49%
    height: 255px
  .activities
    padding-top: 11px
    &__title 
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px