@media(max-width: 1200px)
  .container
    max-width: 960px
  .slider 
    width: 590px
  .hotel
    &-slide
      &__img
        width: 100%
        height: 100%
        object-fit: cover
  .card 
    width: 230px
    height: 230px
  .footer
    &__form
      width: 100%
@media(max-width: 992px)
  .container, 
  .newsletter-wrapper
    max-width: 700px    
  // .header
  //   margin-top: -1px
  .logo
    width: 132px
  .navbar
    &-top 
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      margin-right: 73px //new
    &-menu
      padding: 22px 15px
      margin-bottom: 0 //new
      &__link
        font-size: 12px
        line-height: 15px
  .search
    // margin-left: 45px //no changes off
    &__input
      width: 340px
  .hotel 
    margin-bottom: -10px
    padding-top: 13px
    &-info 
      &__rating 
    &-grid 
      flex-direction: column
    &__slider 
      margin-bottom: 27px
    &-right 
      flex-direction: row
    &-slider
    width: 100%
  .booking 
    width: 340px
    height: 210px
    padding-top: 27px
    padding-left: 23px
    padding-right: 22px
  .map 
    width: 340px
    height: 213px
  // .slider
  //   width: 100% //off no changes
  .logo__image 
    width: 133px
  .reviews
    &-slider
      &__item
        max-width: 580px
        &::after, &::before
          display: none
      &__button
        transform: translateY(-50%)
        &--prev
          left: 0
          margin-left: 0
          margin-top: 14px
        &--next
          right: 0
          margin-right: 0
          margin-top: 14px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .newsletter 
    &-title 
      margin-top: 21px
    &__subscribe 
      margin-top: 1px
  .activities
    padding-top: 30px
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
      row-gap: 20px
    .card
      width: 340px
      height: 255px
      &__title
        &--last
          width: 200px
  .packages
    &-grid
      grid-template-columns: repeat(2, 1fr)
  .footer
    padding-top: 35px
    &__title 
      &--inline 
        margin-left: 0
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__contact-form
      grid-column: span 4
      margin-left: 0
    &__logo
      width: 97px
      height: auto
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        margin-left: -53px
        margin-top: 50px
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
      margin-top: 13px
    &__legal
      grid-column: span 2
      margin-top: 13px
      margin-left: 20px
    &__add
      grid-column: span 2
      margin-top: 13px
      margin-left: -40px
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
        margin-top: 10px
    &__form
      grid-column: span 6
      grid-row: 4
      width: 539px
    &__input
      &-group
        flex-basis: 47%
        font-size: 12px
    &-additional
      padding-top: 0
      justify-content: space-between
      &__list
        padding-left: 0
    &__additional
      margin-top: 55px
  .modal
    &-button-wrapper
      display: flex
      flex-direction: column-reverse
      width: auto
      align-items: flex-start
    &__info
      margin-bottom: 15px
    &__dialog
      padding: 20px 70px 33px 70px
      // text-decoration: underline
  button:hover
    box-shadow: none
  button:active
    background-color: $primary
    box-shadow: none
  a:hover
    text-decoration: none    
  .packages
    &__title 
      margin-top: 0
      margin-bottom: 10px
      font-size: 30px
@media (max-width: 767px) 
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    overflow: hidden
    &__search
      margin-right: 0
    &--fixed
      position: fixed
      left: 0
      top: 0
      right: 0
      z-index: 99
    &__user, &__search 
      &--mobile 
        &--hidden 
          display: none
        &--visible 
          display: flex
    &__user 
      flex-direction: column 
      justify-content: center
    &-bottom 
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      z-index: 99
      padding-top: 30px
      &--visible
        display: block
        overflow-y: auto
    &-menu
      flex-direction: column
      padding-top: 0
      max-height: 440px
      
      &__item
        margin-bottom: 15px
        &--mobile 
          &--visible
            display: block
            margin-bottom: 30px
          &--mb
            margin-bottom: 40px
  .menu 
    &-button    
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name 
      color: $light
      margin-left: 0
      margin-top: 10px
  .slider
    height: 350px
  .hotel 
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .stars
    flex-basis: auto
  .slider 
    height: 305px
  .hotel
    &-right
      // height: 450px
      flex-direction: column
  .booking
    width: 100%
    height: 216px
  .map 
    width: 100%
    height: 213px
    margin-top: 30px
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
    &__subscribe 
      margin-top: 30px  
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -90px
          transform: translate(-50%, 0)
          margin-top: 0
        &--next
          right: 50%
          margin-right: -90px
          transform: translate(50%, 0)
          margin-top: 0
    &__title 
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .activities
    .card
      width: 48%
      height: 255px
  .packages
    &__title
      font-size: 30px
    &-grid
      grid-template-columns: repeat(1, 1fr)
      column-gap: 0
  .package
    grid-column: 1
    &-stars
      display: none
    &-first
      display: block
      &-info
        padding-top: 20px
        max-width: 576px
      &__image
        height: 50%
        width: 100%
        object-fit: cover
      &__text
        display: none
  .footer
    &__add
      margin-left: 15px
    &__contact-form
      grid-column: span 6
      margin-left: 0
    &__input
      &-group
        flex-basis: 100%
  .modal
    &__dialog
      padding: 20px 50px 33px 50px
      width: 85%
  .packages
    &__title 
      margin-top: 0
      margin-bottom: 0px

@media (max-width: 576px)
  .logo
    width: 99px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
  .card
    width: 100%
  .activities
    &__title
      font-size: 18px
  .packages
    &__title
      font-size: 18px
      padding-bottom: 20px
  .package
    &-first
      &-info
        padding-left: 15px
    &-info
      padding-left: 15px
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        margin-left: 0
    &__add
      grid-row: 4
      grid-column: 1
      margin-left: 0
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
      margin-left: 0
    &__additional
      margin-top: 0
    &__form
      width: 100%
    &__message
      width: 100%
    &__input
      flex-basis: 100%
    &__info 
      margin-bottom: 15px
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__button
      margin-bottom: 15px
    &-additional
      display: block
      &__item
        margin-bottom: 10px
  .modal
    &__dialog
      padding: 20px 30px 33px 30px

@media( max-width: 480px )
  .body 
    max-width: 100%
    overflow-x: hidden
  .container
    max-width: 87.5%
  .logo 
    width: 99px
  .logo__image 
    width: 99px
  .stars
    margin-right: 16px
  .navbar-top
    padding: 23px 0 28px
  .hotel 
    padding-top: 5px
    &__slider
      height: 180px
      object-fit: cover
  .hotel-grid 
    padding-top: 23px
  .hotel
    &-info 
      &__offer
        margin-top: 0
  .swiper-slider
    &__image 
      width: 100%
      border-radius: 8px
  .booking 
    margin-top: -10px
    padding-top: 29px
    height: 210px
    &__per
      &-room
        margin-bottom: 8px
    &__button 
      height: 35px
      padding-top: 12px
    &__info 
      margin-bottom: 0
    &__pricetag 
      height: 28px
  .map 
    height: 173px
    margin-top: 20px
  .newsletter
    margin-top: -25px
    padding: 52px 0 71px 0
    height: 320px
    &-wrapper 
      flex-wrap: wrap
    &__subscribe
      margin-top: 0px
      margin-left: 5px
    &-title
      width: 250px
      font-style: light
      margin-bottom: 40px
      font-family: Mulish
      font-size: 20px
      line-height: 28px
      margin-top: 24px
      padding-left: 7px
      &__strong 
        font-family: Mulish
        font-style: SemiBold
        font-size: 30px
        line-height: 38px
  .breadcrumb 
    &-list
      padding-top: 10px
  // .subscribe
  //   width: 100%
  //   margin-left: 7px
  //   &__button
  //     margin-right: 8px
  //     border-bottom-right-radius: 5px
  //     border-top-right-radius: 5px
  //   &__input
  //     padding-left: 20px
  //     width: 276px
  //     height: 55px
  .subscribe
    &__input
      padding-left: 22px
  .reviews
    padding-top: 33px
    &__title
      width: 250px
      margin-top: 7px
      margin-right: auto
      margin-left: auto
      margin-bottom: 40px
      font-family: Mulish
      font-style: Bold
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        max-height: 438px
      &__text
        text-align: left 
      &__username
        margin-top: 0 
        padding-left: 0
      &__avatar 
        margin-bottom: 11px
      &__rating 
        padding-left: 0
      &__date 
        padding-left: 0
      &__button 
        &--prev
          margin-top: 0px
        &--next
          margin-top: 0px
  .hotel-slider__button--prev
    background-size: 4px
    margin-left: -20px
    padding-left: 0
  .hotel-slider__button--next
    background-size: 4px
    padding-right: 0
    margin-right: -20px
  .navbar__search--mobile--visible
    width: 250px
    margin-bottom: 10px
  .navbar-bottom 
    margin-top: -9px
  .swiper-slide
    height: 483px
  .card 
    width: 49%
    height: 255px
  .card__title_card2  
    margin-top: 125px  
  .card__title_card4  
    margin-top: 125px  
  .activities
    padding-top: 7px
    padding-bottom: 65px
    &__card 
      padding-bottom: 29px
    &__title 
      font-size: 18px
      line-height: 23px
      margin-bottom: 40px
    .card
      width: 100%
      &:nth-child(2)
        order: 1
      &:nth-child(4)
        order: 2
  .packages
    &__title 
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .footer
    &__logo
      width: 95px
      margin-bottom: -15px
    &__social
      &-network
        flex-direction: column
    &__title
      &--inline
        padding-bottom: 22px
        margin-top: -20px
        margin-left: 0
      &--mb-1
        margin-bottom: 15px
      &--mb-3
        margin-top: 7px
    &__text 
      margin-bottom: 20px
    &__legal
      margin-top: -13px
    &__add
      margin-top: -10px
    &__categories
      margin-top: -10px
    &__contact-details
      margin-top: -10px
    &__ul
      &--ml
        padding-top: 5px
    &__icon
      &-wrapper
        min-width: 20px
        margin-right: 5px
    &__message
      margin-bottom: 15px
      font-size: 12px
    &__info
      margin-bottom: 15px
    &__button
      margin-bottom: 27px
      &-wrapper
        display: flex
        flex-direction: column-reverse
        width: auto
        align-items: flex-start
    &-additional
      display: flex
      flex-wrap: wrap
      &__list
        min-width: 280px
      &__item
        margin-right: 7px
  .button
    &-wrapper
      display: flex
      flex-direction: column-reverse
      width: auto
      align-items: flex-start